:root{
  --black:#000000;
  --gray:#888888;
  --white:#e1dce2;
  --white2:#ffffff;
  --yellow:#FFEB39;
  --green:#73b246;
  --orange:#c47e18;
  --red: #A22028;
}

html, body {
  height:100%
}

body {
  background-color: var(--gray);
  font-size: 13px;
  padding-top: 70px;
}

body, h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway|Lato', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  text-align: center;
  width: 100%;
  background: var(--black);
  border-bottom:solid var(--orange);
}

.navbar .navbar-brand, .navbar .navbar-nav>li>a {
  color: var(--white);
}

.navbar-inverse .navbar-toggle {
  border-style: none none none none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: var(--orange);
}


ul li:hover { background: var(--orange); }
ul li { transition: all 0.2s; }

.navbar-header form {
    position: absolute;
    right: 20px;
    max-width: 250px;
}

button.navbar-toggle.pull-left {
    margin-left: 15px;
}

img.center {
    /*display: block;*/
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: inherit;
}

.dataTables_scrollHead{
  background-color: var(--black);
}

th, td {
  text-align: left;
  padding: 8px;
}

table.dataTable{
  border-collapse: collapse !important;
}

tr.table-entry{  border-style: none none solid none; }
tr.table-entry:hover {
  cursor: hand;
  cursor: pointer;
  background: var(--green);
}

tr.ailments th, tr.ailments td{
  text-align: center;
  background-color: var(--orange);
  border-color: var(--black);
  border-style: none solid solid none;
  border-width: thin;
}

.border-black{
  border-color: var(--black);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}

.border-gray{
  border-color: var(--gray);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}

.content{
  margin-top: 25px;
  /*min-height: 300px;*/
  background-color: var(--white);
  padding: 0px;
  font-size: 13px;
  border-width: medium;
}

.content-header {
  min-height:11px;
  background-color: var(--black);
  width: auto;
  margin: 0;
  border-bottom:solid var(--orange);
  padding: 10px;
  /*padding-left: 30px;*/
  vertical-align: middle;
  color: var(--white);
}

.content-subheader {
  min-height:5px;
  background-color: var(--orange);
  width: auto;
  margin: 0;
  border-bottom:solid var(--black);
  padding: 2px;
  /*padding-left: 30px;*/
  vertical-align: middle;
  color: var(--black);
  /*text-align: right;*/
}

.content-body{
  background-position: 95% 50%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.stat-label{
  padding-top: 3px;
  padding-right: 5px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: var(--orange);
  background-color: var(--black);
  width: 50px;
  margin: 0;
}

.stat-val{
  text-align: center;;
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  width: 50px;
  margin-top: 7px;
}

.bar{
  margin-top: 14px;
  padding: 0;
}

.hp-label, .mp-label{
  font-size: 14px;
  font-weight: bold;
  background-color: var(--black);
  margin-left: 20px;
  width: 35px;
}

.hp-label{
  color: var(--yellow);
}

.mp-label{
  color: var(--green);
}

.pbar{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--black);
  border-radius: 0;
}

.hpmp{
  margin-left: 10px;
  margin-right: 10px;
}

.hp{
  color: var(--yellow);
}

.mp{
  color: var(--green);
}

.stat{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--white2);
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.resistances{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
}

.level{
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
  width: 100px;
  background-color: var(--white2);
  margin-top: 10px;
  margin-bottom: 20px
}

.select-black{
  /*width: inherit;*/
  cursor: pointer;
  border-style: none none solid none;
  border-width: thin;

}

.select-black:hover {
  color: white;
  background: var(--black);
  border-bottom:solid var(--red);
  border-width: thin;
}

.skill-icon-sm{
  padding: 5px;
}

.skill-icon-md{
  padding: 1px;
  zoom: 1.2; -moz-transform: scale(1.2); -moz-transform-origin: 0 0;
}

.body-lower{
  padding-bottom: 10px;
}

.demon-img {
  zoom: 0.7; -moz-transform: scale(0.7); -moz-transform-origin: 0 0;
  max-width: 490px;
  max-height: 490px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.demon-img-sm {
  zoom: 0.5; -moz-transform: scale(0.5); -moz-transform-origin: 0 0;
  display: none;
  min-width: 520px;
  min-height: 520px;
  padding: 10px;
}

/*.row-alter :nth-child(even){
  background-color: var(--gray);
}

.row-alter :nth-child(odd){
  background-color: var(--white);
}*/

@media all and (max-width: 420px) {
  .resistances {
    zoom: .8; -moz-transform: scale(.8); -moz-transform-origin: 0 0
  }
}

@media all and (max-width: 720px) {
  .content {
    margin: 0;
    border-style: none none none none;
  }

  .demon-img {
    display: none;
  }

  .demon-img-sm {
    display: block;
  }

  .content-body{
    background-image: none !important;
  }
}

@media only screen and (max-width:768px){
  .navbar-brand { display: none; }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(0,0,0,0);
    margin-top: 0;
    padding-top: 8px;
  }
  .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
  }
}

@media all and (max-width: 860px) {
  body {
    padding-top: 50px;
  }

  .hpmp{
    margin: 10px;
  }

  .hpmp-container{
    margin: 0;
  }

}
