:root{
  --black:#000000;
  --gray:#888888;
  --white:#e1dce2;
  --white2:#ffffff;
  --yellow:#FFEB39;
  --green:#73b246;
  --orange:#c47e18;
}

html, body {
  height:100%
}

body {

  background-color: var(--gray)

}

body, h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway|Lato', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

nav {
  /*text-align: center;*/
  width: 100%;
  background: var(--black);
  border-bottom:solid var(--orange);
  /*border-width: thin;*/
}

nav a {
    color: var(--white);
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;

}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;

  cursor: pointer;

  transition: all 0.2s;
}
ul li:hover { background: var(--orange); }
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.2s;

}
ul li ul li {
  background: var(--white);
  display: block;
  color: var(--black);
  border-color: var(--black);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}
ul li ul li:hover { background: var(--green); }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


table {
    border-collapse: collapse;
    width: inherit;
}

th, td {
    border-style: none solid solid none;
    border-width: thin;
    text-align: left;
    padding: 8px;
}

th {
  border-color: var(--black);

  background-color: var(--orange);
  color: var(--black);
}

tr.demons{
  background-color: var(--white);
  border-color: var(--black);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}
tr.demons:hover {
  cursor: hand;
  cursor: pointer;
  background: var(--green);
}

tr.ailments{
  text-align: center;
  background-color: var(--orange);
  border-color: var(--black);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}

tr.ailments td{
  text-align: center;
}

@media all and (max-width: 500px) { /* screen size until 500px */
  tr.ailments td{
    font-size: 0.8em; /* 0.8x default size */
  }
}

.border-black{
  border-color: var(--black);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}

.border-gray{
  border-color: var(--gray);
  border-style: none solid solid none;
  border-width: thin;
  border-radius: 3px;
}

.card {
  min-height: 500px;
  /*min-width: 300px;*/
  background-color: var(--white);
  /*position: relative;*/
  /*padding: 0px;*/
}

.card {
  width:auto;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  font-size: 13px;
  border-color: var(--black);
  border-style: none solid solid none;
  /*border-width: thin;*/
  border-radius: 3px;
}

.card-header {
  min-height:10px;
  background-color: var(--black);
  width: auto;
  margin: 0;

  border-bottom:solid var(--orange);
  /*border-width: thin;*/

  /*display: inline-block;
   */
   vertical-align: middle;
   /*float: none;*/
   color: var(--white);
}

.card-block{
  padding: 20px;
  margin: 30px;
  float: top;
  text-align: center;
  min-width: inherit;
  background-color: var(--green);

  color: var(--black);
}

.card-title{
  padding: 10px;
  padding-left: 30px;
}

.content{
  margin-top: 25px;

}

.img-demon {
   position: absolute;
   clip: rect(0px,300px,300px,0px);
   max-width: none;
   /*width: inherit;
   height: inherit;*/
   object-fit: contain;
}

.frame{
  padding: 0;
  width: 20vw;
  height: 20vw;
  /*width: 300px;
  height: 300px;*/
  float:right;
  /*border:2px solid var(--black);*/
  margin-top: 50px;
  margin-right: 125px;
}

.stat-label{
  padding-top: 3px;
  padding-right: 5px;
  text-align: right;
  font-size: 16px;
  color: var(--orange);
  background-color: var(--black);
  width: 50px;
  margin: 0;
}

.stat-val{
  text-align: center;;
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  width: 50px;
  margin-top: 7px;
}

.bar{
  /*max-width: 400px;*/
  margin-top: 14px;
  padding: 0;
}



.hp-label, .mp-label{
  font-size: 14px;
  font-weight: bold;
  background-color: var(--black);
  /*padding-bottom: 8px;*/
  margin-left: 20px;
  width: 35px;
}

.hp-label{
  color: var(--yellow);
}

.mp-label{
  color: var(--green);
}

.pbar{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--black);

  /*margin-left: 10px;*/
}

.hp{
  color: var(--yellow);
}

.mp{
  color: var(--green);
}

.stat{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--white2);
  padding-bottom: 10px;
  max-width: 500px;
}

.resistances{
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.level{
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
  width: 100px;
  background-color: var(--white2);
}

.stats{
  margin-top: 10px;
  margin-bottom: 20px
}

.demon-info{
  background-position: 160% 0%;
  background-size: 65%;
  background-repeat: no-repeat;
}
