{% extends "compendium/header.html" %}
{% load staticfiles %}

{% block content %}

<div class="demon">
  <div class="row demon-header">
    <h4 class="card-title col-xs-4">{{demon.race}}</h4>
    <h4 class="card-title col-xs-8">{{demon.name}}</h4>
  </div>
  <div class="container demon-info" style="background-image: url('{% static 'compendium/img/demons' %}/{{demon.snake_case}}.png'); " >

      <div class="row">
        <div class="level border-black stats">
          <div class="stat-label border-black col-xs-2">Lv</div>
          {{demon.level}}
        </div>
      </div>

    <div class="row hpmp-container">
      <div class="hpmp center">
        <div class="hp-label col-xs-2">HP</div>
        <div id="hp" class="pbar black-border col-sm-3">{{demon.stats.hp}}</div>
      </div>
      <div class="hpmp center">
      <div class="mp-label col-xs-2">MP    </div>
      <div id="mp" class="pbar black-border col-sm-3">{{demon.stats.mp}}</div>
    </div>

    </div>
    <div class="row">

      <div class="col-sm-6">

          <div class="row resistances center">
            <table>
              <tr>
                <th><img src="{% static 'compendium/img/types/phys.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/gun.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/fire.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/ice.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/elec.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/force.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/light.png' %}"></th>
                <th><img src="{% static 'compendium/img/types/dark.png' %}"></th>
              </tr>
              <tr class="ailments">
                <td> {{ demon.resistances.phys }} </td>
                <td> {{ demon.resistances.gun }} </td>
                <td> {{ demon.resistances.fire }} </td>
                <td> {{ demon.resistances.ice }} </td>
                <td> {{ demon.resistances.elec }} </td>
                <td> {{ demon.resistances.force }} </td>
                <td> {{ demon.resistances.light }} </td>
                <td> {{ demon.resistances.dark }} </td>
              </tr>
            </table>
          </div>


        <div class="row stat border-gray">
          <div class="stat-label border-black col-xs-2">St</div>
          <div class="stat-val col-xs-2">{{demon.stats.strength}}</div>
          <div id="str" class="bar col-sm-8"></div>
        </div>

        <div class="row stat border-gray">
          <div class="stat-label border-black col-xs-2">Dx</div>
          <div class="stat-val col-xs-2">{{demon.stats.dexterity}}</div>
          <div id="dex" class="bar col-sm-8"></div>
        </div>

        <div class="row stat border-gray">
          <div class="stat-label border-black col-xs-2">Ma</div>
          <div class="stat-val col-xs-2">{{demon.stats.magic}}</div>
          <div id="mag" class="bar col-sm-8"></div>
        </div>

        <div class="row stat border-gray">
          <div class="stat-label border-black col-xs-2">Ag</div>
          <div class="stat-val col-xs-2">{{demon.stats.agility}}</div>
          <div id="agi" class="bar col-sm-8"></div>
        </div>

        <div class="row stat border-gray">
          <div class="stat-label border-black col-xs-2">Lu</div>
          <div class="stat-val col-xs-2">{{demon.stats.luck}}</div>
          <div id="luk" class="bar col-sm-8"></div>
        </div>

        <script>
        loadHPBar("#hp", 200)
        loadStatBar("#mp", 200)

        loadStatBar("#str", {{demon.stats.strength}})
        loadStatBar("#dex", {{demon.stats.dexterity}})
        loadStatBar("#mag", {{demon.stats.magic}})
        loadStatBar("#agi", {{demon.stats.agility}})
        loadStatBar("#luk", {{demon.stats.luck}})
        </script>
      </div>
    </div>
  </div>

  <div class="row demon-header">
    <h4>Skills</h4>
  </div>
  <div class="demon-info">
      {% for demonskill in demon.demonskill_set.all %}
        <div class="row skill-row border-gray" onclick="window.location='http://google.com';">
          <div class="skill-icon col-xs-2">
            <img src="{% static 'compendium/img/types' %}/{{demonskill.affinity}}.png">
          </div>
          <div class="col-xs-offset-1 col-xs-5">
            <h5> {{ demonskill.skill.name }} </h5>
          </div>
          <div class="col-xs-3" style="text-align:right;">
            <h5> {{ demonskill.level }} </h5>
          </div>
        </div>
      {% endfor %}
  </div>



</div>



{% endblock %}
