{% extends "compendium/header.html" %}

{% block head %}
<script type="text/javascript" language="javascript" class="init">
$(document).ready(
  function() {
    var table = $('#table').DataTable({
      "scrollY":        calcDataTableHeight(),
      "scrollCollapse": true,
      "paging": false,
      "info": false,
      "dom": 'lrtp'
    });
    $('#search').keyup(function(){
      table.search($(this).val()).draw() ;
    });
  });

  $(window).resize(function() {
    $('div.dataTables_scrollBody').height( calcDataTableHeight() );
  });
</script>
{% endblock %}

{% block search %}
<input type="text" class="form-control" placeholder="Filter" id="search">
{% endblock %}


{% block content %}
  <table class="row-border" id='table' class="table" cellspacing="0" width="100%">
    <thead class="content-header">
      <tr>
        <th>Race</th>
        <th>Demon</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      {% for demon in object_list %}
      <tr class='clickable-row table-entry border-black' data-href='/demons/{{demon.pk}}'>
        <td> {{demon.race}} </td>
        <td> {{ demon.name }} </td>
        <td> {{ demon.level }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
