{% extends "compendium/header.html" %}

<!-- {% block races %}
  {% for demon in object_list.distinct.race %}
    <li>{{demon}}</li>
  {% endfor %}
{% endblock %} -->

{% block content %}
<table class="demons">
  <tr>
    <th>Race</th>
    <th>Demon</th>
    <th>Level</th>
  </tr>
  {% for demon in object_list %}
  <tr class='clickable-row demons' data-href='/demons/{{demon.pk}}'>
    <td> {{demon.race}} </td>
    <td> {{ demon.name }} </td>
    <td> {{ demon.level }} </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
