{% extends "compendium/header.html" %}
{% load staticfiles %}

{% block head %}
<script type="text/javascript" language="javascript" class="init">
$(document).ready(
  function() {
    var table = $('#table').DataTable({
      "scrollY":        calcDataTableHeight(),
      "scrollCollapse": true,
      "paging": false,
      "info": false,
      "dom": 'lrtp'
    });
    $('#search').keyup(function(){
      table.search($(this).val()).draw() ;
    });
  });

  $(window).resize(function() {
    $('div.dataTables_scrollBody').height( calcDataTableHeight() );
  });
</script>
{% endblock %}

{% block search %}
<input type="text" class="form-control" placeholder="Filter" id="search">
{% endblock %}


{% block content %}
  <table class="row-border" id='table' class="table" cellspacing="0" width="100%">
    <thead class="content-header">
      <tr>
        <th>Type</th>
        <th>Skill</th>
      </tr>
    </thead>
    <tbody>
      {% for skill in object_list %}
      <tr class='clickable-row table-entry border-black' data-href='/skills/{{skill.pk}}'>
        <td> <img src="{% static 'compendium/img/types' %}/{{skill.affinity.lower}}.png"> &nbsp; {{ skill.affinity }}</td>
        <td> {{ skill.name }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
